@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border-dark;
  }

  body {
    @apply bg-background-dark text-gray-200;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
